<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-book"></span> API Center for exercise tracker</a>
      </li>
    </ul>
  </div>
</nav>
